@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

// Colors
$very-dark-magenta: hsl(300, 43%, 22%);
$pink: hsl(333, 80%, 67%);
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);

// Typography
$font-family: 'Spartan', sans-serif;
$font-size: 15px;

// Margin
$margin-step: 40px;

// Rules

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: $font-size;
}

.main {
    margin: 50px auto;
    max-width: 90%;
    text-align: center;
}

.text__header {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 70%;
    font-size: 1.625rem;
    line-height: 1.625rem;
    color: $very-dark-magenta;
}

.text__paragraph {
    color: $dark-grayish-magenta;
    margin-bottom: 35px;
}

.rating {
    margin-bottom: 40px;
}

.rating-block {
    background-color: $light-grayish-magenta;
    border-radius: 5px;
    padding: 10px 0;
    margin-bottom: 15px;
}

.stars {
    margin-bottom: 10px;
}

.stars__img {
    margin: 0 2px;
}

.rating-block__header {
    color: $very-dark-magenta;
}

.reviews-card {
    background-color: $very-dark-magenta;
    padding: 30px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.person-information {
    display: grid;
    grid-template-areas: 
        "img name"
        "img status";
    grid-template-columns: 80px 1fr;
    margin-bottom: 20px;
    text-align: left;
}

.person-information__person {
    grid-area: img;
    border-radius: 50%;
    height: 60px;
}

.person-information__name {
    display: flex;
    align-items: center;
    grid-area: name;
    color: white;
    vertical-align: middle;
}

.person-information__status {
    display: flex;
    align-items: center;
    grid-area: status;
    color: $pink;
}

.reviews-card__review {
    text-align: left;
    color: white;
    line-height: 1.625rem;
}

@media (min-width: 800px) {
    .main {
        max-width: 60%;
    }
}

@media (min-width: 1000px) {
    .main {
        margin-top: 100px;
        margin-bottom: 0;
        max-width: 80%;
    }
    
    .top-part {
        display: flex;
    }

    .text {
        flex: 50%;
    }

    .text__header {
        margin: 0;
        margin-bottom: 10px;
        font-size: 3.3rem;
        line-height: 3.3rem;
        text-align: left;
    }

    .text__paragraph {
        text-align: left;
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .rating {
        flex: 50%;
    }

    @mixin horizontal-margin($step) {
        margin-left: ($margin-step * $step);
        margin-right: 80px - ($margin-step * $step);

    }

    @mixin vertical-margin($step) {
        margin-top: ($margin-step * $step);
        margin-bottom: 80px - ($margin-step * $step);

    }

    .rating-block_reviews {
        @include horizontal-margin(0);
    }

    .rating-block_report {
        @include horizontal-margin(1);
    }

    .rating-block_tech {
        @include horizontal-margin(2);
    }

    .reviews {
        display: flex;
        column-gap: 40px;
    }

    .reviews-card {
        flex: 1;
    }

    .reviews-card_colton {
        @include vertical-margin(0);
    }
    .reviews-card_irene {
        @include vertical-margin(1);
    }
    .reviews-card_anne {
        @include vertical-margin(2);
    }

}